<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body id="page-top" class="index">

	<div class="col-12">
		<h2>Productos</h2>
		<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
			th:if="${mensaje != null}" th:text="${mensaje}" class="alert">
		</div>
		<a class="btn btn-success mb-2" th:href="@{/producto/create}">Agregar</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Detalle</th>
					<th>Código</th>
					<th>Precio</th>
					<th>Existencia</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto : ${productos}">
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.detalle}"></td>
					<td th:text="${producto.codigo}"></td>
					<td th:text="${producto.precio}"></td>
					<td th:text="${producto.stock}"></td>
					<td><a class="btn btn-warning"
						th:href="@{/productos/editar/} + ${producto.id}">Editar <i
							class="fa fa-edit"></i></a></td>
					<td>
						<form th:action="@{/productos/eliminar}" method="post">
							<input type="hidden" name="id" th:value="${producto.id}" />
							<button type="submit" class="btn btn-danger">
								Eliminar <i class="fa fa-trash"></i>
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>